HTML {
    height: 100%;
}

BODY {
    margin: 0px;
}



.padding_text {
    padding-left: 4px;
}



.functions_container {
    border-bottom: 2px solid;
}

.left_container {
    height: 100%;
    width: 360px;
    float: left;
}

.left {
    position: absolute;
    bottom: 0px;
    top: 100px;
    width: 360px;
    overflow-y: scroll;
}

.map {
    height: 100%;
}



.header_big {
    padding-left: 4px;
    margin: 0px;
}

.layer {
    padding-left: 4px;
    cursor: pointer;
}
.layer:hover {
    background: #E5E5FF;
}

.selected_layer {
    padding-left: 4px;
    background: #E5E5E5;
}



.blackwhite_hidden {
    display: none;
}

.nolabels_hidden {
    display: none;
}

.old_hidden {
    display: none;
}

.language_hidden {
    display: none;
}



.bw {
    float: right;
    margin-right: 4px;
    padding-right: 2px;
    padding-left: 2px;
    color: #FFFFFF;
    background-color: #C0C0C0;
}

.old {
    float: right;
    margin-right: 4px;
    padding-right: 2px;
    padding-left: 2px;
    color: #FFFFFF;
    background-color: #FF0000;
}

.lang {
    float: right;
    margin-right: 4px;
    padding-right: 2px;
    padding-left: 2px;
    color: #FFFFFF;
    background-color: #00FF00;
}

.nl {
    float: right;
    margin-right: 4px;
    padding-right: 2px;
    padding-left: 2px;
    color: #FFFFFF;
    background-color: #0000FF;
}